.dark-bg {
    background-color: #161820;
}

.light-bg {
    background-color: #20232d;
}


.dropdown-toggle-no-arrow::after {
    display: none !important;
}

.custom-width {
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
}

.send-icon:hover {
    background-color: #20232d !important;

}

.green-border {
    border: 1px solid green;
}

.tooltip {
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
}

.MuiSvgIcon-root {
    color: #fff !important;
}

.MuiBox-root.css-ixid5k {
    background-color: initial !important;
    border-radius: initial !important;
    color: #fff !important;
    padding: 0 !important;
}

.MuiDivider-root {
    border-color: rgb(255 255 255 / 50%) !important;
}

.MuiButtonBase-root {
    color: #fff !important;
}

.MuiButton-root.Mui-disabled {
    color: gray !important;
}

.MuiTableCell-root {
    border-bottom: 1px solid rgba(108, 117, 125, 1) !important;
}

.form-control:focus {
    border-color: lightgray !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px whitesmoke !important;
}

.form-check-input:focus {
    border-color: lightgray !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px whitesmoke !important;

}

.popover {
    min-width: 25% !important;
    opacity: 1;
}


.loading-spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-spinner-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}


.loading-spinner {
    animation: rotate 2s linear infinite;
}


@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}

.max-logo-size {
    max-width: 100%;
    height: auto;
    max-height: 150px;
}